body {
  max-width: 50%;
  margin: 5% auto;
  font-family: "Anonymous Pro", monospace;
  font-size: 16px;
  font-weight: 80;
  line-height: 24px;
  cursor: pointer;
}

h1 {
  margin-bottom: 0;
  font-weight: 300;
}

footer {
  text-align: center;
}

.weatherApp {
  padding: 2%;
  border: black 1px solid;
  border-radius: 30px;
  cursor: pointer;
}

.searchRow {
  margin: 3%;
}

.featured {
  margin: 0 auto;
  font-size: 18px;
}

.activeCityImage {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.mainMaxTemp,
.forecastMaxTemp {
  font-weight: 900;
}

.bodyInfo {
  display: block;
  margin: 0 auto;
  position: relative;
  float: right;
}

.bodyInfo .tempLinks,
.tempLinks:visited {
  text-decoration: none;
  color: black;
}

.icons {
  height: 20px;
  width: 20px;
}

#forecast {
  margin: 5% 2%;
  text-align: center;
}

#units {
  font-size: 16px;
  position: relative;
  top: -20px;
}

#city-input {
  margin-right: 2%;
  margin-bottom: 2%;
}

#search-city-button {
  padding-left: 5%;
  margin-bottom: 2%;
}

#current-temp {
  font-size: 50px;
}

#description {
  text-transform: capitalize;
}
